* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Manrope, sans-serif;
}

button,
input {
  outline: none;
}

body {
  background-color: #1c1c1c;
  color: #fff;
}

header {
  margin: 10px;
  text-align: center;
  padding: 15px;
}

#searchdiv {
  align-items: center;
  display: flex;
  justify-content: center;
}

#search,
.search {
  font-size: 20px;
  padding: 10px 20px;
  width: 30%;
  border-radius: 50px;
  border: none;
}
.search {
  text-align: center;
  width: 200px;
  border: none;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 16px;
}
.search::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.781);
}

#global div,
#global,
#searchres div,
#searchres {
  display: flex;
}
#global,
#searchres {
  margin: 20px;
  padding: 40px;
}
#global li,
#searchres li {
  height: 300px;
}

#searchres {
  background-size: cover;
  background-image: url("https://images.pexels.com/photos/3413310/pexels-photo-3413310.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: bottom;
}

#global {
  background-image: url("https://images.pexels.com/photos/414916/pexels-photo-414916.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center;
  background-size: cover;
}

#global h1,
#searchres h1 {
  flex: 1;
}

#comparediv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
}
#search1,
#search2 {
  padding: 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search1,
#search2 {
  margin: 10px;
}

li {
  padding: 10px;
  background-color: #1c1c1c;
  color: #fff;
  list-style-type: none;
  margin: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.dead {
  background-color: rgb(224, 52, 0);
}
.confirmed {
  background-color: rgb(226, 136, 0);
}
.recovered {
  background-color: rgba(0, 128, 0, 1);
}
.active {
  background-color: rgb(0, 159, 233);
}
span {
  font-size: 40px;
}

#precautions,
#caution div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#precautions h1 {
  margin: 0 30px 30px 30px;
}

#caution {
  display: flex;
  justify-items: center;
  align-items: center;
}

#caution div {
  background-color: #fff;
  padding: 20px;
  color: #000;
  height: 200px;
  margin: 20px;
  width: 300px;
}

#caution div * {
  margin: 10px;
}

#compare {
  color: #fff;
  outline: 0;
  font-size: 16px;
  border: none;
  background-color: rgb(0, 159, 233);
  padding: 10px 20px;
  border-radius: 50px;
}

div,
li {
  border-radius: 10px;
}

#search,
#compare {
  margin: 0 15px;
}

#compare {
  cursor: pointer;
  transition: 0.3s ease;
}
#compare:active {
  background-color: #fff;
  color: #000;
  transition: 0.3s ease;
}
#global {
  margin: 50px 0;
}
@media only screen and (max-width: 1400px) {
  #caution {
    grid-template-columns: 1fr 1fr;
    display: grid;
  }
  #global,
  #searchres {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #global div,
  #searchres div {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 950px) {
  #global div,
  #searchres div {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  #global li,
  #searchres li {
    height: 250px;
    width: 250px;
  }
}

@media only screen and (max-width: 800px) {
  #caution {
    grid-template-columns: 1fr;
    display: grid;
  }

  #search1,
  #search2 {
    margin: 20px 0;
  }

  #comparediv {
    flex-direction: column;
  }

  #searchdiv {
    flex-direction: column;
  }
  #search,
  #compare {
    margin: 15px 0;
  }
  #search {
    width: 60%;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  #global div,
  #searchres div {
    grid-template-columns: 1fr;
  }
  #global,
  #searchres {
    margin: 40px 0;
  }
}
